<mat-accordion *ngIf="cards$ | async as cards">
  <mat-expansion-panel *ngFor="let card of cards">
    <mat-expansion-panel-header>
      {{ card.cardId }}
    </mat-expansion-panel-header>

    <p>{{ card.cardNumber }}</p>
    <mat-action-row *ngIf="userAuthenticated">
      <a mat-button color="primary" [routerLink]="['/edit', card.cardId]"
        >EDIT</a
      >
      <button mat-button color="warn" (click)="onDelete(card.cardId)">
        DELETE
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
