<mat-card>
  <mat-card-title>
    <h1>Enter Expense</h1>
  </mat-card-title>

  <mat-card-content>
    <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input
          matInput
          placeholder="Expense Description"
          formControlName="expenseDescription"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Expense Amount"
          formControlName="expenseAmount"
        />
      </mat-form-field>
      <mat-form-field appearance="fill" *ngIf="cards$ | async as cards">
        <mat-label>Card Type</mat-label>
        <mat-select [(ngModel)]="selectedCard" formControlName="expenseCard">
          <mat-option *ngFor="let card of cards" [value]="card.cardId">
            {{ card.cardName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Expense Category</mat-label>
        <mat-select
          [(ngModel)]="selectedCategory"
          formControlName="expenseCategory"
        >
          <mat-option
            *ngFor="let cardType of cardTypes"
            [value]="cardType.value"
          >
            {{ cardType.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Expense Date</mat-label>
        <input
          matInput
          [matDatepicker]="statementPicker"
          formControlName="expenseDate"
          (dateChange)="onExpenseDateChange($event)"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="statementPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #statementPicker></mat-datepicker>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!expenseForm.valid"
      >
        Create Card
      </button>
    </form>
  </mat-card-content>
</mat-card>

<!--
<mat-accordion *ngIf="cards$ | async as cards">
  <mat-expansion-panel *ngFor="let card of cards">
    <mat-expansion-panel-header>
      {{ card.cardId }}
    </mat-expansion-panel-header>

    <p>{{ card.cardNumber }}</p>
    <mat-action-row *ngIf="userAuthenticated">
      <a mat-button color="primary" [routerLink]="['/edit', card.cardId]"
        >EDIT</a
      >
      <button mat-button color="warn">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
-->
